body{
    background-color: #F8F3EF;
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}
/*Header*/
.nav {
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: #F2DED7;
}
.nav a {
    text-decoration: none;
    color: #71624D;
    top:0;
    margin: 18px;
    float: right;
    font-family: Inter;
    font-size: 20px;
}
.nav p{
    float: left;
    padding-left: 1%;
    font-family: Inter;
    font-size: 23px;
    font-weight: 600;
}
.logo{
    position: relative;
    margin: 0;
    width: 60px;
    float: left;
}
a{
    text-decoration: none;
    color:black;
}
/*подвал*/
.podval {
    display: flex;
    justify-content: space-between;
}
.left-side p, .right-side a{
    font-family: Inter;
    font-size: 110%;
}
 h2 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
h1, h2, h3 {
    text-align: center;
    font-family: Abhaya Libre;
    letter-spacing: 6px;
    font-size: 250%;
    font-weight: 800;
}
h4{
    font-family: Abhaya Libre;
    letter-spacing: 1%;
    font-size: 170%;
    font-weight: 800; 
}
.left-side,
.right-side {
    width: 45%;
}
.left-side {
    text-align: center;
}
.imagess {
    margin-top: 2%;
    margin-bottom: 2%;
}
.right-side {
    margin-top: 3%;
    border-radius: 1%;
}
.social-media  {
    border-radius: 1%;
    margin-left: 20%;
    margin-top: 4%;
}
h4{
    margin-right: 3%;
}
h4, .social-media a{
    text-align: center;
}
.social-media a {
    display: block;
    margin: 3% 2% 3% 0;
    padding: 1%;
    border-radius: 25px; /* Закругляем углы */
    background-color: #D9E8E8; /* Серый цвет фона */
    width: 65%;
    height: 30px;
}
/* Основное содержимое */
.main{
margin-top: 5%;
}
 /*первый абзац*/
 .container {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 3% 3% 4%;
    align-items: center; /* Выравнивание содержимого по вертикали */
}

.text {
    flex: 0 0 60%; /* Жестко задаем ширину текста */
    margin-right: 3%; /* Расстояние между текстом и изображением */
    margin-left: 3%;
}

.slider {
    flex: 1; /* Растягиваем слайдер на всю доступную ширину */
    margin-top: 2%;
    margin-left: 3%;
}

.item {
    display: none;
}

.item:first-child {
    display: flex;
}

.text p {
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: Inter;
    font-size: 120%;
}
.slider .item img {
    object-fit: cover;
    width: 70%;
    height: 470px;
}
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider p{
    font-family: Abhaya Libre;
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    margin-right: 28%;
}
/*Второй абзац*/
.why {
    text-align: center; /* Центрируем заголовок */
    background-color: #F2DED7;
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 1px black;
}
.cpicok {
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: disc; /* Кружочки для элементов списка */
    margin: 0;
    padding: 0;
}
ul li {
    margin: 5% 5%; /* Расстояние между элементами списка */
}
.classForCpicok {
    flex: 1;
    font-family: Inter;
    font-size: 120%;
    text-align: left;
}
.classForCpicok li {
    margin-top: 4%;
    margin-bottom: 5%;
} 


@media screen and (max-width: 744px) {
    
h1 {
    margin-top: 90px;
}

    .text {
      flex: 1; /* Занимаем всю доступную ширину */
      margin-right: 0; /* Убираем правый отступ */
      margin-left: 0; /* Убираем левый отступ */
    }
  
    .slider {
      flex: 1; /* Занимаем всю доступную ширину */
      margin-left: 0; /* Убираем левый отступ */
    }
  
    .text p {
      margin-top: 5%; /* Уменьшаем верхний отступ */
      margin-bottom: 5%; /* Уменьшаем нижний отступ */
      font-size: 16px; /* Уменьшаем размер шрифта */
    }
  
    .slider .item img {
      width: 100%; /* Устанавливаем ширину изображений на 100% */
      height: auto; /* Устанавливаем автоматическую высоту изображений */
    }
  
    .slider p {
      margin-right: 0; /* Убираем правый отступ */
      text-align: center; /* Центрируем текст */
    }
}
  