body {
  margin: 0;
  background-color: #F8F3EF;
}

/*подвал*/
.podval {
  display: flex;
  justify-content: space-between;
}

.left-side p,
.right-side a {
  font-family: Inter;
  font-size: 110%;
}

h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Abhaya Libre;
  letter-spacing: 6px;
  font-size: 250%;
  font-weight: 800;
}

h4 {
  font-family: Abhaya Libre;
  letter-spacing: 1%;
  font-size: 170%;
  font-weight: 800;
}

.left-side,
.right-side {
  width: 45%;
}

.left-side {
  text-align: center;
}

.imagess {
  margin-top: 2%;
  margin-bottom: 2%;
}

.right-side {
  margin-top: 3%;
  border-radius: 1%;
}

.social-media {
  border-radius: 1%;
  margin-left: 20%;
  margin-top: 4%;
}

h4 {
  margin-right: 3%;
}

h4,
.social-media a {
  text-align: center;
}

.social-media a {
  display: block;
  margin: 3% 2% 3% 0;
  padding: 1%;
  border-radius: 25px;
  background-color: #D9E8E8;
  width: 65%;
  height: 30px;
}

/* Основное содержимое */
main {
  margin-top: 7%;
}

/*первый абзац*/
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
}

.text {
  flex: 0 0 60%;
}

.slider .item {
  position: relative;
  display: flex;
  align-items: center;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

.slider {
  flex: 1;
}

.item {
  display: none;
}

.item img {
  justify-content: center;
  margin-bottom: 1%;
}

.text p {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: Inter;
  font-size: 120%;
}

.item img {
  width: 50%;
  height: 460px;
}

.slider {
  height: 470px;
  justify-content: center;
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
  justify-content: center;
}

.slider p {
  text-align: center;
  font-family: Abhaya Libre;
  color: #71624D;
  background-color: #F2DED7;
  border-radius: 12px;
  margin-top: 0;
  font-size: 170%;
  font-weight: 500;
}

/*Второй абзац*/
.why {
  text-align: center;
  background-color: #F2DED7;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid 1px black;
}

.cpicok {
  display: flex;
  justify-content: center;
}

.classForCpicok {
  flex: 1;
  font-family: Inter;
  font-size: 120%;
  text-align: left;
}

.classForCpicok li {
  margin-top: 4%;
  margin-bottom: 5%;
}
@media screen   and (max-width: 1440px){
  .item img{
    height: 380px;
  }
  
}
@media screen and (max-width: 1100px){
  .item img{
    width: 70%;
    height: 380px;
  }
  .slider p{
    font-size: 15px;
  }
  .slider{
    padding-top: 12%;
  }
  .text p{
    font-size: 17px;
  }
  .container{
    align-items: center;
  }
  
}

@media screen and (max-width: 744px) {
  h1 {
    margin-top: 90px;
    font-size: 33px;
    margin-bottom: 0;
  }

  .text {
    flex: 1;
    flex: 50% 0;
    margin-left: 0;
    margin-top: 0;
    font-size: 17px;
  }

  .previous,
  .next {
    margin-left: 33px;
  }

  .slider {
    flex: 1;
  }

  .text p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
  }

   .item img {
    width: 70%;
    height: 310px;
    padding: 30px;
  }
  .slider p {
    text-align: center;
    font-size: 13px;
    margin-left: 55px;
  }

  .previous {
    margin-top: 50px;
    left: -22px;
  }

  .next {
    margin-top: 50px;
    right: -12px;
  }

  .why {
    margin-top: 0;
  }

  .classForCpicok {
    margin: 10px 15px;
    font-size: 15px;
  }

  h2 {
    font-size: 27px;
  }

  h4 {
    font-size: 20px;
  }

  .imagess {
    width: 450px;
  }

  .left-side p {
    font-size: 16px;
  }

  .right-side {
    margin-top: 140px;
  }
}

@media screen and (max-width: 425px) {

  h1 {
    margin-left: 1%;
  }

  .text p {
    font-size: 13px;
    margin-bottom: 0;
  }

  main {
    width: 106%;
  }

  .container {
    display: block;
    margin-bottom: 0;
  }

  .slider {
    margin-right: 2%;
    margin-bottom: 0;
  }

  .classForCpicok li {
    font-size: 14px;
    margin-top: 10px;
  }

  .classForCpicok {
    margin: 0;
  }

  .podval {
    display: block;
  }

  .left-side p {
    font-size: 13px;
    white-space: nowrap;
    margin-left: 50%;
  }

  .right-side {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 8%;
  }

  .right-side h4 {
    margin-left: 20%;
    white-space: nowrap;
  }

  .social-media a {
    width: 110%;
    margin-left: 10%;
  }

  .imagess {
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .why {
    width: 116%;
  }
  .container{
    width: 110%;
  }
}