h1{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 1%;
}
h2{
    text-align: center;
}
 /*первый абзац*/
 .container, .containerTwos, .containerOne {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Выравнивание содержимого по вертикали */
    margin: 2% 0 4% 0%;
}
.imageTwos{
    display: none;
}
.text {
    flex: 0 0 60%; /* Жестко задаем ширину текста */
    margin-right: 7%; /* Расстояние между текстом и изображением */
    margin-left: 4%;
}
.text p  {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Inter;
    font-size: 120%;
    text-align: left;
}

 .containerTwo p, .containerFactsLeft p, .containerTwos p{
    margin-top: 3%;
    margin-bottom: 3%px;
    font-family: Inter;
    font-size: 120%;
}
.image {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 18%;
    height: 500px;
    margin-left: 3%;
}
 /*второй абзац*/
.containerTwo, .containerTwos {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Выравнивание содержимого по вертикали */
    background-color: #F2DED7;
    border: solid 1px black;
}
.textTwo {
    flex: 0 0 60%; /* Жестко задаем ширину текста */
    margin-right: 4%; /* Расстояние между текстом и изображением */
    margin-left: 5%;
}
.imageTwo, .imageTwoss {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 7%;
    margin-right: 4%;
    width: 18%;
    height: 510px;
    margin-bottom: 2%;
}
.containerTwos h2{
    margin-left: 10%;
    margin-bottom: 0;
}
.background {
    background-color: #F2DED7;
    border: solid 1px black;
}
.imageFacts {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 17%;
    height: 410px;
    margin-left: 4%;
}
.containerFactsLeft {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 2% 3% 3%;
    align-items: center; /* Выравнивание содержимого по вертикали */

}
.imageLeft {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    width: 17%;
    height: 410px;
}
.textPodval {
    margin-top: 3%;
}
@media screen and (max-width: 744px) {
    .text p {
        font-size: 14px;
    }
    .text{
        flex:1;
        margin-right: 0;
    }
    .image{
        width: 35%;
        height: 410px;
        margin-top: 1%;
    }
    .container, .containerOne{
        margin: 20px 5px;
    }
    .containerTwo, .containerTwos{
        margin: 7% 0;
    }
    .containerTwo h2{
        margin-left: 13%;
    }  
    .imageTwo, .imageTwoss{
        width: 35%;
        height: 410px;
        margin: 1% 10px 10px 10px;
    }
    .textTwo{
        flex:1;
        margin: 5px;
    }
    .textTwo p{
        font-size: 14px;
        margin-left: 0;
    }
    .imageFacts{
        width: 35%;
        height: 410px;
        margin: 1% 10px 10px 10px;
    }
    .imageLeft{
        width: 35%;
        height: 410px;
        margin: 1% 10px 10px 10px;
    }

}
@media screen and (max-width: 375px) {
    body{
        width: 120%;
    }
    h1{
        margin-top: 20%;
    }
    .text p, .textTwo p{
        font-size: 10px;
    }
    .image{
        float: right;
        width: 45%;
        height: 280px;
    }
    .containerTwos, .containerOne{
        display: inline-block;
    }
    .imageTwoss{
        display: none;
    }
    .imageTwos{
        display: inline-block;
        float:left;
        width: 35%;
        height: 210px;
        margin: 1% 10px 10px 10px;
    }
    .imagesTwo{
        width: 35%;
        height: 210px;
        margin: 1% 10px 10px 10px;
    }
    h2{
        font-size: 18px ;
    }
    .imageFacts{
    width: 35%;
    height: 210px;
    margin-top: 70px;
    }
    .imageLeft{
    width: 35%;
    height: 210px;
    }
    iframe{
    height: 300px;
    width: 300px;
    }
}