.textUnderTitle {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    flex: 0 0 60%;
    /* Жестко задаем ширину текста */
    font-family: Inter;
    font-size: 21px;
}

/*Первый абзац*/
.container {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.column {
    margin: 20px;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    background-color: #f0f0f0;
    text-align: center;
    padding: 2%;
    border-radius: 6%;
    width: 25%;
    height: auto;
    z-index: 1;
}

.column p {
    font-family: Inter;
    font-size: 21px;
    margin-bottom: 0;
}

.column img {
    width: 50%;
    height: auto;
}

.centered {
    text-align: center;
    margin-bottom: 4%;
}

/*Абзац с формой*/
.left-column,
.right-column {
    flex: 1;
    padding: 0 2%;
    /* Добавляем немного отступов для стилизации */
}

.left-column p {
    font-family: Inter;
    font-size: 21px;
}

/* Стили для формы в правой части */
form {
    display: flex;
    flex-direction: column;
}

/* Стили для полей ввода и кнопки */
.textAndForma {
    align-items: center;
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.textAndForma p {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.containerForma {
    display: flex;
    justify-content: center;
}

/* Стили для формы в правой части */
form {
    display: flex;
    flex-direction: column;
}

/* Стили для полей ввода и кнопки */
input[type="text"],
input[type="tel"],
button {
    width: 60%;
    height: 35px;
    padding: 1%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* Это свойство учитывает padding и border в общей ширине элемента */
}

button {
    background-color: #D9E8E8;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #F2DED7;
}

h5 {
    text-align: center;
    font-family: Abhaya Libre;
    letter-spacing: 1%s;
    font-size: 22px;
    font-weight: 800;
    margin: 0;
}

@media screen and (max-width: 744px) {
    .container {
        margin: 0 15px;
    }

    .text {
        flex: 1;
        flex: 50% 0;
        margin-left: 0;
        margin-top: 0;
        font-size: 17px;
    }

    .slider {
        flex: 1;
        margin-top: 50px;
    }

    .text p {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 15px;
    }

    .classForCpicok {
        padding: 10px 15px;
        font-size: 15px;
    }

    .imagess {
        width: 450px;
    }

    .left-side p {
        font-size: 16px;
    }

    .textUnderTitle {
        font-size: 13px;
    }

    .column {
        padding: 2%;
        height: 250px;
    }

    .left-column p {
        font-size: 12px;
    }

    .column img {
        margin-bottom: 10px;
        height: 100px;
    }

    .column h5 {
        font-size: 15px;
    }

    .column p {
        font-size: 12px;
        margin-bottom: 0;
    }

}

@media screen and (max-width: 425px) {
    body {
        width: 122%;
    }

    .text p {
        font-size: 13px;
        margin-bottom: 0;
    }

    .column {
        padding: 2%;
        /* Задайте нужное вам значение расстояния между блоками */
        height: 180px;
        width: 70%;
    }

    .column img {
        margin-bottom: 2px;
        height: 70px;
    }

    .column h5 {
        font-size: 11px;
    }

    .column p {
        font-size: 9px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .textAndForma {
        padding-left: 10%;
    }

    .textUnderTitle {
        font-size: 12px;
    }

    .centered {
        font-size: 17px;
    }

    .left-column p {
        font-size: 10px;
    }

    form input {
        width: 50%;
    }

    input[type="text"],
    input[type="tel"],
    button {
        width: 80%;
        height: 20px;
        font-size: 10px;
    }

    .right-column {
        margin-top: 4%;
    }
}