/* Footer */
.podval {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.social-media a {
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 25px;
    background-color: #D9E8E8;
    width: 70%;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.left-side p,
.right-side a {
    font-family: Inter;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Abhaya Libre;
    letter-spacing: 6px;
    font-size: 24px;
    font-weight: 800;
}

h1 {
    text-align: center;
    font-family: Abhaya Libre;
    letter-spacing: 6px;
    font-size: 24px;
    font-weight: 800;
    margin-top: 10%;
}

h3 { 
    text-align: center;
    font-family: Abhaya Libre;
    letter-spacing: 6px;
    font-size: 24px;
    font-weight: 800; 
}

h4 {
    font-family: Abhaya Libre;
    letter-spacing: 1%;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.bold {
    font-weight: 800;
    font-size: 21px;
    font-family: Inter;
}

.background {
    background-color: #F2DED7;
    border: solid 1px black;
    margin-bottom: 20px;
}

iframe {
    width: 450px;
    height: 420px;
}

.right-side {
    justify-content: center;
    flex: 1;
}

.left-side {
    text-align: center;
    justify-content: center;
    flex: 1;
}
@media screen and (max-width: 1024px){

    .bold {
        font-size: 17px;
    }
    
}
@media screen and (max-width: 768px) {
    .bold{
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    iframe {
        width: 310px;

    }

    .imagess {
        padding-left: 12%;
    }
}

@media (max-width: 680px) {
    h1{
        padding-top: 5%;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #F2DED7;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-links a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        padding-right: 35px;
    }
}
@media screen and (max-width: 600px){
    .bold{
        font-size: 14px;
    }
}
@media screen and (max-width: 425px) {
    .bold{
        font-size: 14px;
    }
}
@media (max-width: 420px) {
    h1 {
        margin-left: 1%;
    }

    .text p {
        font-size: 12px;
        margin-bottom: 0;
    }

    main {
        width: 120%;
    }

    .container {
        margin-bottom: 0;
        display: flex;
    }

    .slider {
        margin-top: 1%;
        margin-bottom: 0;
        justify-content: center;
    }

    .classForCpicok li {
        font-size: 12px;
        margin-top: 10px;
    }

    .classForCpicok {
        margin: 0;
    }

    .podval {
        display: block;
    }

    .left-side p {
        font-size: 13px;
        white-space: nowrap;
    }
    
    .right-side h4 {
        white-space: nowrap;
    }



    .imagess {
        display: block;
    }

    iframe {
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width: 375px) {
h1{
    margin-top: 15%;
}
}
@media screen and (max-width: 300px) {
    .bold {
        font-size: 11px;
    }
    
}