body {
    background-color: #F8F3EF;
    margin: 0;
    /* Убираем внешние отступы */
    padding: 0;
    /* Убираем внутренние отступы */
    width: 100%;
    overflow-y: scroll;
}

.background {
    background-color: #F2DED7;
}

/*второй абзац*/
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1% 1% 1% 3%;
    align-items: center;
    background-color: #F2DED7;
    border: solid 1px black;
    margin: 2% 0;
}

.text {
    flex: 0 0 60%;
    padding-left: 6%;
    text-align: center;
    font-size: 100%;
}

.text p {
    margin: 8% 0;
    font-family: Inter;
    font-size: 160%;
    letter-spacing: 2px;
}

.imge {
    width: 100%;
    margin-top: 6%;
}

.image {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1% 2% 1% 5%;
    width: 20%;
    height: auto;
}

/*для заказа цветов*/
.gallery {
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.img {
    text-align: center;
    width: 30%;
}

.order-btn {
    background-color: #F2DED7;
    color: black;
    padding: 15px 5px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    width: 50%;
}

.order-btn:hover {
    background-color: #F2DED7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.caption button,
.weightForForma {
    font-weight: 800;
}

#order-form {
    flex: 1;
    text-align: center;
    margin: 1% 2% 0 2%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для формы */
.textUnderTitle {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    flex: 0 0 65%;
    /* Жестко задаем ширину текста */

}

.forma {
    text-align: center;
    background-color: #F2DED7;
    border: solid 1px black;
    margin-bottom: 4%;
}

.forma p {
    font-family: Inter;
    font-size: 100%;
}

.formForOwnByket {
    text-align: center;
    width: 300px;
    margin: 1% auto 2% auto;
}

/* Стили для полей ввода */
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    width: 100%;
    height: 23px;
    padding: 2%;
    margin-bottom: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопки отправки */
.buttonForma {
    width: 100%;
    padding: 1%;
    background-color: #D9E8E8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonForma:hover {
    background-color: #F8F3EF;
}

/* Полупрозрачный текст в полях ввода */
input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
    /* Цвет текста полупрозрачного текста */
}

button {
    margin-left: 1%;
}

/*подвал*/
.podval {
    display: flex;
    justify-content: space-between;
}

.left-side p,
.right-side a {
    font-family: Inter;
    font-size: 99%;
}

h2,
h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.left-side {
    width: 45%;
    flex: 1;
    text-align: center;
}

.imagess {
    flex: 1;
    margin: 2% 0;
}

.right-side {
    width: 45%;
    flex: 1;
    margin-top: 3%;
    border-radius: 10px;
}

.social-media {
    border-radius: 1%;
    margin-left: 20%;
    margin-top: 4%;
}

h4 {
    margin-right: 3%;
}

h4,
.social-media a {
    text-align: center;
}

.social-media a {
    display: block;
    margin: 3% 2% 3% 0;
    padding: 1%;
    border-radius: 25px;
    /* Закругляем углы */
    background-color: #D9E8E8;
    /* Серый цвет фона */
    width: 65%;
    height: 30px;
}

.background {
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: black;
}

#selected-bouquet-image {
    width: 30%;
    /* Устанавливаем ширину изображения */
    height: auto;
    /* Позволяем высоте автоматически регулироваться для сохранения пропорций */
}

#selected-bouquet-description {
    font-family: Abhaya Libre;
    letter-spacing: 1%;
    font-size: 120%;
    font-weight: 600;
}

/*Каталог*/
.catalogConteiner {
    margin: 2% 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.catalogConteiner a {
    flex: 1;
}

.img img {
    width: 310px;
    height: 400px;
    margin: 0px;
}

.catalogConteiner img {
    margin-left: 6%;
}

.catalogLine {
    text-align: center;
}

.catalogName {
    margin-top: 4%;
}

.catalogLink {
    display: block;
    position: relative;
    overflow: hidden;
}

.catalogContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    justify-content: space-around;
}

.catalogItem {
    position: relative;
}

.imgCatalog {
    transition: transform 0.3s ease;
    margin: 0;
    padding: 10px 70px 10px 70px;
    width: 310px;
    height: 400px;
    position: relative;
    z-index: -10;
    /* Задаем меньшее значение z-index */
}

.overlay {
    position: absolute;
    width: 342px;
    height: 430px;
    top: 0;
    left: 0;
    margin-left: 65px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -9;
    /* Задаем большее значение z-index */
}

.overlay p {
    font-size: 210%;
}

.catalogLink:hover .imgCatalog {
    transform: scale(1.1);
}

.catalogLink:hover .overlay {
    opacity: 1;
}

h1 {
    margin-top: 10%;
}

h1,
h2,
h3 {
    font-family: Abhaya Libre;
    letter-spacing: 6px;
    font-size: 250%;
    font-weight: 800;
}

h4 {
    font-family: Abhaya Libre;
    letter-spacing: 6px;
    font-size: 170%;
    font-weight: 800;
}

.caption p,
button {
    font-family: Kosugi Maru;
    letter-spacing: 2px;
    font-size: 100%;
    font-weight: 400;
}

@media screen and (max-width: 1090px) {
    .img img {
        width: 220px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin-top: 90px;
        font-size: 33px;
        margin-bottom: 0;
    }

    .container {
        margin: 0 15px;
    }

    .item img {
        margin-right: 20px;
        margin-top: 60px;
    }

    h2 {
        font-size: 27px;
    }

    h4 {
        font-size: 20px;
    }

    .imagess {
        width: 450px;
    }

    .left-side p {
        font-size: 16px;
        text-align: center;
    }

    .right-side {
        margin-top: 140px;
    }

    .container {
        padding: 1% 1% 1% 3%;
        margin: 2% 0;
    }
    .text p{
        font-size: 120%;
    }
    .imge {
        width: 100%;
        margin: 15% 0 5% 0;
    }

    .image {
        width: 25%;
        margin: 5px;
    }

    .img img {
        width: 170px;
        height: 250px;
    }

    .caption p {
        font-size: 14px;
    }

    .order-btn {
        font-size: 14px;
        width: 130px;
    }

    .modal-content {
        margin-top: 300px;
    }

    .catalogContainer {
        display: flex;
    }

    .catalogItem {
        flex: 2;
    }

    .catalogLink img {
        width: 170px;
        height: 200px;
    }

    .imgCatalog {
        padding: 0%;
        margin: 5px;
    }

    .formForOwnByket {
        flex-direction: column;
        display: flex;
        align-items: center;
        /* Выравнивание по вертикали */
        justify-content: center;
        /* Выравнивание по горизонтали */
    }

    .right-side {
        right: 0;

    }

    .right-side h4 {
        font-size: 15px;
    }

    iframe {
        width: 320px;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        display: block;
        padding: 0 30px;
    }

    .img img {
        width: 260px;
        height: 390px;
        right: 0;
        margin: 0;
    }

    .img {
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .caption p {
        margin-top: 30px;
        font-size: 15px;
        padding-left: 13px;
        text-wrap: nowrap;
    }

    .container,
    .imge {
        width: 100%;
    }

    .caption {
        text-align: center;
        /* Центрирование по горизонтали */
        margin-top: 30px;
        /* Вертикальный отступ */
        font-size: 15px;
        padding-left: 13px;
        /* Отступ слева */
        width: calc(100% - 260px);
        /* Расчет ширины: 100% минус ширина картинки */
    }

    .forma {
        width: 110%;
    }

    .right-side {
        padding: 15px;
    }

    .imge {
        width: 110%;
    }

    .container {
        width: 106%;
    }

    .podval {
        display: block;
    }

    .left-side p {
        font-size: 13px;
        text-align: center;
        text-wrap: nowrap;
    }

    .right-side {
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: auto;
        margin-right: auto;
    }

    .right-side h4 {
        white-space: nowrap;
    }

}

@media screen and (max-width: 420px) {

    h1,
    .h2center,
    footer h2 {
        margin-left: auto;
    }

    .podval {
        display: block;
        margin-left: 0%;
    }

    footer {
        width: 108%;
    }

    .social-media a {
        width: 100%;
        margin-left: 10%;
    }

    .imge {
        width: 110%;
        margin-top: 25%;
    }

    .container {
        width: 105%;
    }

    .forme {
        width: 220%;
    }

    .image {
        width: 30%;
    }

    .text p {
        font-size: 13px;
    }

    .img {
        flex: 1;
        width: 200px;
        margin: 20px;
    }

    .img img {
        width: 130px;
        height: 180px;
        margin: 2% 15px 2% 8px;
    }

    .caption p {
        font-size: 12px;
        margin-right: 25px;
    }

    .order-btn {
        margin-right: 27px;
        font-size: 11px;
        width: 110px;
        height: 15px;
    }

    .modal-content {
        margin-top: 300px;
    }

    .catalogContainer {
        display: flex;
    }

    .catalogItem {
        margin-left: 25px;
        width: 100px;
    }

    iframe {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 375px) {

    .imge,
    .forma {
        width: 122%;
    }

    .container {
        width: 118%;
    }

}