.textUnderTitle{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    flex: 0 0 60%; 
    font-family: Inter;
    font-size: 110%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin-left: 2%;
    align-items: center; 

}
.text {
    flex: 0 0 65%; 
    margin-right: 5%; 
    margin-left: 3%;
}
.text p  {
    margin-top: 3%;
    margin-bottom: 4%;
    font-family: Inter;
    font-size: 20px;
    text-align: left;
}
.image {
    justify-content: center;
    align-items: center;
    width: 23%;
    height: auto;
}
.adviceBackground {
    width: 100%;
    background-color: #F2DED7;
    border: solid 1px black;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Стили для формы */
.forma {
    text-align: center;
}

form {
    text-align: center;
    width: 20%;
    margin: 1% 0 2% 38%;
}

/* Стили для полей ввода */
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    height: 30px;
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
}

/* Стили для кнопки отправки */
button {
    width: 100%;
    height: 30px;
    padding: 1%;
    background-color: #D9E8E8;
    color: #fff;
    border: none;
    border-radius: 1%;
    cursor: pointer;
}

/* Полупрозрачный текст в полях ввода */
input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Цвет текста полупрозрачного текста */
}
button:hover {
    background-color: #F2DED7;
}
button{
margin-left: 3%;
}
@media screen and (max-width: 768px){
.text p{
    font-size: 14px;
}
}
@media screen and (max-width: 744px) {

    .textUnderTitle{
        font-size: 13px;
    }
    .adviceBackground h2 {
        font-size: 20px;
    }
    .text{
        flex:1;
    }
    .text p{
        font-size: 13px;
    }
    .image {
        width: 30%;
    }
    .forma h2 {
        font-size: 20px;
    }
    input[type="text"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    textarea {
        width: 120%;
        height: 20px;

    }
    /* Полупрозрачный текст в полях ввода */
input::placeholder,
textarea::placeholder {
font-size: 10px;
}
button{
    margin-left: 15%;
}
.menuBox{
    margin-left: 0;
    margin-right: 0;
    margin-left: 10%;
}
}
@media screen and (max-width: 425px) {
    h1{
        margin-top: 15%;
    }
    .container{
        display: block;
    }
    .image {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 420px) {
    body{
        width: 120%;
    }
    h1{
        margin-top: 20%;
    }
    .text{
        flex:1;
    }
    .text p{
        font-size: 11px;
    }
    .image {
        width: 35%;
    }
    form{
        margin: 1% 3% 2% 34%;
    }
    input[type="text"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    textarea {
        width: 180%;
        height: 15px;
    }
    input::placeholder,
    textarea::placeholder {
    font-size: 9px;
    }
    button{
        margin-left: 40%;
        height: 20px;
    }
    iframe{
        height: 300px;
        width: 300px;
    }

}
@media screen and (max-width: 320px) {
    .adviceBackground, .background{
        width: 113%;
    }
    .right-side{
        margin-left: 0;
    }
    .social-media {
        width: ;
    }
}